body {
  font-family: Arial, sans-serif;
  background-color: #d9dcd6;
}

main {
    /* display: flex;
    flex-wrap: wrap; */
}

.header {
  position: sticky;
  top: 0;
  padding: 20px;
  background-color: #245953;
  color: #ffffff;
}

.header h1 {
  text-align: center;
  font-size: 48px;
}

.navbar {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  font-size: 20px;
}

.navbar a {
  color: white;
  text-decoration: none;
}

a:link,
a:visited {
  padding: 8px;
  border: 2px solid white;
  background-color: #2d2727;
  border-radius: 10px;
}

a:hover,
a:active {
  background-color: red;
}

.profile {
  width: 40%;
  border-style: solid;
  border-width: 1px;
  border-radius: 50px;
  padding: 10px;
  flex: 0 0 300px;
  box-shadow: 10px 10px 5px #aaaaaa;
  margin: 20px;
  background-color: bisque;
}

.profile header {
  font-size: 30px;
  padding: 20px;
  text-align: center;
}

.profile img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 320px;
  border-radius: 5rem;
}

.profile p {
  text-align: center;
  padding: 10px;
  font-size: 20px;
}

.about-me {
  width: 30%;
  border-style: solid;
  border-width: 1px;
  border-radius: 50px;
  padding: 10px;
  flex: 0 0 300px;
  box-shadow: 10px 10px 5px #aaaaaa;
  margin: 20px;
  background-color: bisque;
}
