body {
  font-family: Arial, sans-serif;
  background-color: #d9dcd6;
}

.top-main {
    display: flex;
    flex-wrap: wrap;
}

.header {
  position: sticky;
  top: 0;
  padding: 20px;
  background-color: #245953;
  color: #ffffff;
}

.header h1 {
  text-align: center;
  font-size: 48px;
}

.navbar {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  font-size: 20px;
}

.navbar a {
  color: white;
  text-decoration: none;
}

a:link,
a:visited {
  padding: 8px;
  border: 2px solid white;
  background-color: #2d2727;
  border-radius: 10px;
}

a:hover,
a:active {
  background-color: red;
}

.profile {
  background-color: bisque;
  border-style: solid;
  border-width: 1px;
  border-radius: 50px;
  padding: 10px;
  flex: 0 0 49%;
  box-shadow: 10px 10px 5px #aaaaaa;
  margin: 10px 10px 10px 10px;
}

.profile img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 320px;
  border-radius: 5rem;
}

.profile p {
  text-align: center;
  padding: 10px;
  font-size: 20px;
}

.about-me {
  border-style: solid;
  border-width: 1px;
  border-radius: 50px;
  padding: 20px;
  flex: 0 0 49%;
  box-shadow: 10px 10px 5px #aaaaaa;
  background-color: bisque;
  margin: 10px 10px 10px 10px;
}

.about-me h2 {
  text-decoration: underline;
  font-size: 24px;
  padding: 20px;
}

.about-me p {
  padding: 15px;
}

.main-section1 h2 {
  font-size: 30px;
  padding: 20px;
  text-align: center;
}

.websites {
  display: flex;
  flex-wrap: wrap;
  flex: 0 0 40%;
}

.websites h2 {
  text-decoration: underline;
  font-size: 30px;
  padding: 40px;
  margin-top: 20px;
  margin-left: 20px;
}

.websites img {
  width: 600px;
  height: auto;
}

.container1 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  height: 1000px;
  margin: 20px 20px 20px 20px;
}

.website-item {
  display: flex;
  width: 35%;
  height: 500px;
  justify-content: center;
  align-content: space-around;
  background-color: bisque;
  border-style: solid;
  border-width: 1px;
  border-radius: 50px;
  margin: 10px 10px 10px 10px;
  box-shadow: 10px 10px 5px #aaaaaa;
  padding: 30px;
}